@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@tailwind base;

.multiselect__option--highlight{
    @apply bg-blue-300  
}
.vdatetime-popup__header {
    @apply bg-red-800
}
.is_validPlaza {
    @apply mt-1 block w-full border-none bg-gray-100  rounded-xl shadow-lg;
}
.is_valid {
    @apply mt-1 block w-full border-none bg-gray-100  rounded-xl shadow-lg;
}
.no_valid {
    @apply mt-1 block w-full border-none bg-gray-300  rounded-xl shadow-lg;
}
.no_valid:hover {
    @apply mt-1 block w-full border-none bg-gray-300  rounded-xl shadow-lg;
}
.is_invalid {
    @apply border;
    @apply border-red-500;
}
.contenedor {
    @apply mt-1 block w-full border-2 bg-gray-100 rounded-xl shadow-xl;
}
.input{
    @apply mt-1 block w-full border-b-2 border-gray-400 bg-gray-100  rounded-xl shadow-lg;
}
.pdtcpendientes{
    @apply font-semibold mb-2;
}
input {
    @apply bg-gray-100;        
    @apply rounded-lg;
    @apply outline-none;
    @apply border-gray-600;   
    @apply bg-white;
    @apply border; 
    @apply shadow;
}
input:hover {      
    @apply bg-white;   
    @apply border-gray-300;
    @apply border-gray-600;
}
input:focus {
    @apply border-gray-300; 
    @apply shadow-none;
    @apply bg-white;
}
textarea {
    @apply bg-gray-200;        
    @apply rounded-lg;
    @apply outline-none;
    @apply border-gray-600;   
    @apply bg-white;
    @apply border; 
    @apply shadow;
}
textarea:hover {   
    @apply bg-white;   
    @apply border-gray-300;
    @apply border-gray-700;
}
textarea:focus {
    @apply border-gray-300; 
    @apply shadow-none;
    @apply bg-white;
}
select {
    @apply bg-gray-200;        
    @apply rounded-lg;
    @apply outline-none;  
    @apply border-gray-600;     
    @apply bg-white;
    @apply border; 
    @apply shadow;   
}
select:hover {
    @apply bg-white;   
    @apply border-gray-300;
    @apply border-gray-700;
}
select:focus {
    @apply border-gray-300; 
    @apply shadow-none;
    @apply bg-white;
}
.Home{
    @apply border-2 rounded-lg m-8 shadow-xl h-66;
}
.Home:hover{
    @apply bg-gray-400;
}
.Home:focus{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-2 border-gray-200 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonesCorrectivo{
    @apply border-gray-200 border-2 rounded-lg m-8 shadow-xl;
}
.botonesCorrectivo:hover{
    @apply bg-gray-400;
}
.botonesCorrectivo:focus{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-2 border-gray-200 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonAdminPre{
    @apply border-gray-200 border-2 rounded-lg m-8 shadow-xl h-72;
}
.botonAdminPre:hover{
    @apply bg-gray-400;
}
.botonAdminPre:focus{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-2 border-gray-200 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonTodos{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-green-600 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonTodos:hover{
    @apply border-green-600 bg-green-300 text-white transition duration-500;
}
.botonTodos:focus{
    @apply outline-none;
}
.botonBuscar{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-blue-600 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonBuscar:hover{
    @apply border-blue-600 bg-blue-300 text-white transition duration-500;
}
.botonBuscar:focus{
    @apply outline-none;
}      
.botonTodosGMMEP{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-blue-600 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonTodosGMMEP:hover{
    @apply border-blue-600 bg-blue-400 text-white transition duration-500;
}
.botonTodosGMMEP:focus{
    @apply outline-none;
}
.botonIconLimpiar{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-red-500 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonIconLimpiar:hover{
    @apply border-red-600 bg-red-500 text-white transition duration-500;
}
.botonIconLimpiar:focus{
    @apply outline-none;
}
.botonIconBuscar{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-blue-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonIconBuscar:hover{
    @apply border-blue-600 bg-blue-500 text-white transition duration-500;
}
.botonIconBuscar:focus{
    @apply outline-none;
}
.BuscarDeshabilitado{
    @apply bg-gray-600 tracking-wide text-black font-titulo font-bold rounded border-b-2 border-black shadow-md py-2 px-6 inline-flex items-center;
}
.BuscarDeshabilitado:hover{
    @apply border-black bg-gray-600 text-black cursor-not-allowed;
}
.BuscarDeshabilitado:focus{
    @apply outline-none;
}
.botonCrearFoto{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-blue-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonCrearFoto:hover{
    @apply border-blue-600 bg-blue-400 text-white transition duration-500;
}
.botonCrearFoto:focus{
    @apply outline-none;
}
.cabeceraTable{
    @apply py-2 px-3 top-0 border-b border-gray-200 bg-blue-800;
}
.cuerpoTable{
    @apply border-dashed border-t border-gray-200 py-2 px-3;
}
.botonIconCrear{
    @apply bg-white tracking-wide text-gray-800 font-boton font-bold rounded border-b-2 border-green-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonIconCrear:hover{
    @apply border-green-800 bg-green-400 text-white transition duration-500;
}
.botonIconCrear:focus{
    @apply outline-none;
}
.CrearDeshabilitado{
    @apply bg-gray-600 tracking-wide text-black font-boton font-bold rounded border-b-2 border-black shadow-md py-2 px-6 inline-flex items-center;
}
.CrearDeshabilitado:hover{
    @apply border-black bg-gray-600 text-black cursor-not-allowed;
}
.CrearDeshabilitado:focus{
    @apply outline-none;
}
.botonCrearReport{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-green-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonCrearReport:hover{
    @apply border-green-500 bg-green-400 text-white transition duration-500;
}
.botonCrearReport:focus{
    @apply outline-none;
}
.botonIconSellado{
    @apply bg-white tracking-wide text-gray-800 font-bold rounded border-b-2 border-red-500 shadow-md py-1 px-1 inline-flex items-center;
}
.botonIconSellado:hover{
    @apply border-red-800 bg-red-500 text-white transition duration-500;
}
.botonIconSellado:focus{
    @apply outline-none;
}
.botonDeshabilitado{
    @apply bg-gray-600 tracking-wide font-bold rounded border-b-2 border-black shadow-md py-1 px-1 inline-flex items-center cursor-not-allowed;
}
.botonDeshabilitado:hover{
    @apply bg-gray-600 text-black border-black transition duration-500;
}
.botonIconCancelar{
    @apply bg-white tracking-wide text-gray-800 font-titulo font-bold rounded border-b-2 border-red-500 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonIconCancelar:hover{
    @apply border-red-800 bg-red-500 text-white transition duration-500;
}
.botonIconCancelar:focus{
    @apply outline-none;
}
.botonIconActualizar{
    @apply bg-white tracking-wide text-black font-boton font-bold rounded border-b-2 border-yellow-500 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonIconActualizar:hover{
    @apply border-orange-500 bg-yellow-300 text-black transition duration-500;
}
.botonIconActualizar:focus{
    @apply outline-none;
}
.botonIconDescargar{
    @apply bg-white tracking-wide text-gray-800 font-boton font-bold rounded border-b-2 border-red-600 shadow-md py-2 px-6 inline-flex items-center ml-4 mr-4;
}
.botonIconDescargar:hover{
    @apply border-red-600 bg-red-300 text-white transition duration-500;
}
.botonIconDescargar:focus{
    @apply outline-none;
}
.botonIconNext{
    @apply bg-white tracking-wide text-gray-800 font-bold rounded border-b-2 border-blue-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonIconNext:hover{
    @apply border-blue-600 bg-blue-300 text-white transition duration-500;
}
.botonIconNext:focus{
    @apply outline-none;
}
.botonIconExcel{
    @apply bg-white tracking-wide text-gray-800 font-bold rounded border-b-2 border-green-700 shadow-md py-2 px-6 inline-flex items-center;
}
.botonIconExcel:hover{
    @apply border-green-700 bg-green-400 text-white transition duration-500;
}
.botonIconExcel:focus{
    @apply outline-none;
}
.botonIconBorrarCard{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-red-600 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconBorrarCard:hover{
    @apply bg-red-300 border-red-600 text-white transition duration-500;
}
.botonIconActCard{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-green-600 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconActCard:hover{
    @apply bg-green-300 border-green-600 text-white transition duration-500;
}
.botonIconBorrarCardDes{
    @apply bg-gray-400 tracking-wide text-gray-800 font-bold border-b-2 border-black shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconBorrarCardDes:hover{
    @apply bg-gray-400 border-black text-gray-800 cursor-not-allowed;
}
.botonBorrarCard:focus{
    @apply outline-none;
}
.botonIconEditCard{
    @apply bg-white tracking-wide text-gray-800 border-b-2 border-yellow-500 shadow-md text-xs font-bold py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconEditCard:hover{
    @apply border-orange-500 bg-yellow-400 text-white transition duration-500;
}
.botonIconEditCard:focus{
    @apply outline-none;
}
.botonIconMas{
    @apply bg-white tracking-wide text-gray-800 border-b-2 border-blue-500 shadow-md text-xs font-bold py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconMas:hover{
    @apply border-blue-500 bg-blue-300 text-white transition duration-500;
}
.botonIconMas:focus{
    @apply outline-none;
}
.botonEnviarPDF{
    @apply bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 shadow-md inline-flex items-center;
}
.botonEnviarPDF:hover{
    @apply border-green-800 bg-green-500 text-white transition duration-500;
}
.botonEnviarPDF:focus{
    @apply outline-none;
}
.botonBajar{
    @apply rounded-full shadow-md inline-flex items-center;
}
.botonBajar:hover{
    @apply border-gray-800 bg-gray-200 text-white transition duration-500;
}
.botonBajar:focus{
    @apply outline-none;
}
.botonDescargar{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-blue-400 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonDescargar:hover{
    @apply border-blue-800 bg-blue-300 text-white transition duration-500;
}
.botonDescargar:focus{
    @apply outline-none;
}
.botonDescargarDes{
    @apply bg-gray-400 tracking-wide text-gray-800 font-bold border-b-2 border-black shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1 cursor-default;
}
.botonDescargarDes:hover{
    @apply border-black bg-gray-400 text-gray-800 transition duration-500;
}
.botonDescargarDes:focus{
    @apply outline-none;
}
.botonSubir{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-green-400 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonSubir:hover{
    @apply border-green-800 bg-green-300 text-white transition duration-500;
}
.botonSubir:focus{
    @apply outline-none;
}
.botonBajar{
    @apply rounded-full shadow-md inline-flex items-center;
}
.botonBajar:hover{
    @apply border-gray-800 bg-gray-200 text-white;
}
.botonBajar:focus{
    @apply outline-none;
}
.animacion{
    @apply transition duration-500 ease-in-out; 
}
.animacion:hover{
    @apply transform -translate-y-1 scale-105;
}
.ph-center-observaciones::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;/* Centrado vertical */
}
.ph-center::-webkit-input-placeholder {
    text-align: center;
    line-height: 50px;/* Centrado vertical */
}
.fechaDiag {
    @apply border-none bg-gray-100  rounded-xl shadow-lg;
}
.fechaFicha {
    @apply border-none bg-gray-300  rounded-xl shadow-lg cursor-not-allowed;
}
.fechaFicha:hover{
    @apply bg-gray-300;
}
.inputDiag{
    @apply bg-white border-none w-69;
}
.inputFicha{
    @apply bg-gray-300 border-none w-full cursor-not-allowed;
}
.inputFicha:hover{
    @apply bg-gray-300;
}
.botonPrincipal{
    @apply border-gray-200 border-2 rounded-lg m-8  shadow-xl;
}
.botonPrincipal:hover{
    @apply bg-gray-400;
}
.botonBajar:focus{
    @apply outline-none;
}
.botonCrearReporte{
    @apply bg-white tracking-wide text-gray-800 font-boton font-bold rounded border-b-2 border-green-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonCrearReporte:hover{
    @apply border-green-800 bg-green-400 text-white transition duration-500;
}
.botonCrearReporte:focus{
    @apply outline-none;
}
.botonCrearFoto{
    @apply bg-white tracking-wide text-gray-800 font-boton font-bold rounded border-b-2 border-blue-500 shadow-md py-2 px-6 inline-flex items-center;
}
.botonCrearFoto:hover{
    @apply border-blue-600 bg-blue-400 text-white transition duration-500;
}
.botonCrearFoto:focus{
    @apply outline-none;
}
.carruselGMMEP{
    @apply rounded-lg border max-w-2xl h-69 justify-center absolute inset-x-0 bg-white mx-auto border-gray-400 shadow-2xl mt-48;
}
.textareaFicha{
    @apply mt-1 block w-full border-none bg-gray-300  rounded-xl shadow-lg cursor-not-allowed;
}
.textareaFicha:hover{
    @apply bg-gray-300;
}
.textareaFicha:focus{
    @apply bg-gray-300;
}
.modalAgregarActPre{
    @apply rounded-lg mt-64 justify-center text-center border absolute inset-x-0 bg-white border-gray-400 w-69 mx-auto px-12 py-10 shadow-2xl;
}
.inputBorrarActPre{
    @apply flex mb-1 items-center h-10 text-sm border-gray-200 border-b-2 rounded-lg;
}
.botonBorrarActPre{
    @apply p-1 ml-4 mr-2 w-6 rounded-xl border-gray-800 text-xs font-titulo font-medium bg-red-600 text-gray-800;
}
.botonBorrarActPre:hover{
    @apply bg-red-500;
}
.botonOkActPre{
    @apply p-1 ml-4 mr-2 w-6 rounded-xl border-gray-800 text-xs font-titulo font-medium bg-green-500 text-gray-800 cursor-default;
}
.divtabla{
    @apply overflow-x-auto bg-white rounded-lg shadow overflow-y-auto;
}
.table{
    @apply border-collapse table-auto w-full whitespace-no-wrap bg-white;
}
.trTable{
    @apply text-gray-400 bg-blue-800;
}
.laodTable{
    @apply mt-8 mb-8 border-solid animate-spin rounded-full border-blue-400 border-2 h-10 w-10 mx-auto;    
}
.textAreaCalendario{
    @apply appearance-none mx-auto border-gray-400 rounded-lg py-4 mb-0 h-32 w-full border font-titulo;
}
.textAreaCalendario:hover{
    @apply  border-gray-400;
}
.modalCargarImg{
    @apply rounded-lg border max-w-2xl h-66 justify-center absolute inset-x-0 bg-white mx-auto border-gray-400 shadow-2xl mt-48;
}
.botonEditarDF{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-yellow-500 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonEditarDF:hover{
    @apply border-yellow-600 bg-yellow-300 text-gray-800 transition duration-500;
}
.botonEditarDF:focus{
    @apply outline-none;
}
.botonTerminarFicha{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-green-500 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonTerminarFicha:hover{
    @apply border-green-600 bg-green-300 text-white transition duration-500;
}
.botonTerminarFicha:focus{
    @apply outline-none;
}
.botonBorrarFicha{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-red-500 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonBorrarFicha:hover{
    @apply border-red-600 bg-red-300 text-white transition duration-500;
}
.botonBorrarFicha:focus{
    @apply outline-none;
}
.botonNoAplica{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-red-500 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconSave{
    @apply bg-white tracking-wide text-gray-800 font-bold border-b-2 border-blue-600 shadow-md text-xs py-2 px-2 rounded inline-flex items-center mt-1;
}
.botonIconSave:hover{
    @apply bg-blue-300 border-blue-600 text-white transition duration-500;
}
.deshabilitado{
    @apply  bg-gray-400 border-b-2 border-black text-gray-600  opacity-25;
}
.deshabilitado:hover{
    @apply bg-gray-400 border-b-2 border-black text-gray-600 opacity-25 cursor-default;
}
@tailwind components;
@tailwind utilities;
@layer utilities {
    .slide-fade-enter-active {
        transition: all .3s ease ;
    }
    .slide-fade-leave-active {
        transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
    .list-enter-active, .list-leave-active {
        transition: all 2s;
    }
    .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }
    .table-enter-active, .table-leave-active {
        transition: all 2s;
    }
    .table-enter, .table-leave-to /* .list-leave-active below version 2.1.8 */ {
        opacity: 0;        
        transform: translateY(10px);
        transition: all 2s
    }
}


body.modal-open {
    overflow: hidden;
}

.inputanexo{
    @apply shadow appearance-none border rounded text-gray-700 leading-tight text-center;
}
.inputanexo:focus{
    @apply outline-none shadow-outline;
}

.inputanexoerror{
    @apply shadow appearance-none border border-red-800 rounded text-gray-700 leading-tight text-center;
}
.inputanexoerror:focus{
    @apply outline-none shadow-outline;
}

/*     
}
.vue-tooltip.tooltip-custom {
    width: 50rem;  
    background-color: rgb(237, 242, 247);  
    border: 1px solid #466fa1;  
    box-shadow: 1000;
    border-radius: 15px;
    font-weight: bold;
    z-index: 1151 !important;
}

.vue-tooltip.tooltip-custom .tooltip-arrow {  
    border: 3px solid #466fa1;  
} */
